.List {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.listElement {
    display: flex;
    height: 40px;
    flex-direction: row;
    box-shadow: inset 0 1px 3px 0 rgba(27, 40, 52, 0.08);
    border: solid 1px #d4d8db;
    align-content: baseline;
    width: 412px;
    border-radius: 3px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}
